# Price depending on various factor
y=mx1+mx2+mx3+c
independent bedroom area age
dependent price

In [1]:
import pandas as pd
import numpy as np
import math
from sklearn import linear_model

In [2]:
df=pd.read_csv("Home-2 - Sheet1.csv")
df

   Area  Bedrooms  Age   Price
0  2700       4.0   21  560000
1  3100       5.0   16  566000
2  3300       NaN   19  620000
3  3700       4.0   31  596000
4  4100       6.0    9  770000

In [3]:
median_bedrooms=math.floor(df.Bedrooms.median())
median_bedrooms

4

In [7]:
df.Bedrooms=df.Bedrooms.fillna(median_bedrooms)
df

   Area  Bedrooms  Age   Price
0  2700       4.0   21  560000
1  3100       5.0   16  566000
2  3300       4.0   19  620000
3  3700       4.0   31  596000
4  4100       6.0    9  770000

In [8]:
reg=linear_model.LinearRegression()
reg.fit(df[['Area','Bedrooms','Age']],df.Price)

LinearRegression()

In [9]:
reg.predict([[2000,4,50]])

array([203300.])